    body {
      background: blueviolet;
      color: black;
      margin: 0px;
    font-family: "poppins", sans-serif
}

    header {
     border-bottom: solid 2px rgb(rgb(73, 33, 255), rgb(47, 141, 248), rgb(79, 29, 172));
    padding: 20px;
    font-size: 32px;
    color: rgb(73, 33, 255) 47, 141, 248), (79, 29, 172) ;
}

section {
     background-color: rgb(rgb(187, 238, 5), rgb(98, 21, 241), rgba(209, 238, 83, 0.979));
    padding: ;



}
